@using DiegoG.WebTools.Services;
@using DiegoG.WebTools.Data;

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Language.CurrentLanguage.NotFoundTitle</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">@Language.CurrentLanguage.NotFoundMessage</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>