@using DiegoG.WebTools.Data
@using DiegoG.WebTools.Services
@inject ItemCatalog<MeansOfContact> catalog
@inject ILogger<ContactMePage> logger

<div>
    <table class="contact-means">
        <tbody>
            @foreach (var meansColl in EnumerateContactMeans())
            {
                <tr>
                    @foreach (var means in meansColl)
                    {
                        <td class="highlightable contact-means-display-@((int)means.DisplayType)">
                            <a href="@means.Uri" target="_blank" alt="@means.Alt">
                                @if (means.DisplayType is Data.MeansOfContact.DisplayDataType.HTML)
                                {
                                    @((MarkupString)means.DisplayData)
                                }
                                else if (means.DisplayType is Data.MeansOfContact.DisplayDataType.Image)
                                {
                                    <img src="@means.DisplayData" width="16" height="16" alt="@means.Alt" />
                                }
                                <span>‎ </span>@means.DisplayName
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
